---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
---

<Layout>
	<Section>
		<Container>
			<Heading>
				<h1 slot="heading-title" class="h2 theme-heading">Blog</h1>
				<p slot="heading-content">
					Stay up to date with event industry trends, planning insights, and highlights from events we've
					delivered for our clients across Australia.
				</p>
			</Heading>
		</Container>
	</Section>
</Layout>
